
.header{
  background-color: #0F7292;
  color: white;
}

.name{
  color: #a30087;
}

.young{
  border:1px solid grey ;
  background-color: white;
  padding:2px;
  margin: 5px;
}

.young:hover{
  filter:drop-shadow(8px 8px 10px gray);
}

.large{
  height: 100%;
}

.back{
  color: #ff5e17;
}
.backcolor1 {
  background-color: #ffbf00;
}

.backcolor2{
  background-color: #e83f6f;
}

.backcolor3{
  background-color: #32936f;
}

.text{
  color: white;
}

.fblogo{
  padding-top: 10px;
}

.thumb{
  height: 100px;
  width: 100px;
}

#counter{
  color: green;
  height: 50px;
}

#counter2{
  color: red;
  height: 50px;
}
