
.header{
  background-color: #0F7292;
  color: white;
}

.name{
  color: #a30087;
}

.young{
  border:1px solid grey ;
  background-color: white;
  padding:2px;
  margin: 5px;
}

.young:hover{
  filter:drop-shadow(8px 8px 10px gray);
}

.large{
  height: 100%;
}

.back{
  color: #ff5e17;
}
